@import "../../../index";

div.card {
  display: flex;
  flex-direction: column;

  width: 80%;
  max-width: 450px;

  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  justify-content: center;

  img.card-image {
    // max-width: 325px;
    // max-height: 225px;
    width: 100%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  div.description {
    width: 80%;
    margin: auto;
    p {
      margin: 32px 0;
    }
    button {
      display: flex;
      justify-content: center;
      background: map-get($colors, secondary-gray);
      border: none;
      border-radius: 5px;
      width: 70%;
      height: 35px;
      margin: 0 auto 25px;
      color: map-get($colors, primary-white);
      font-size: map-get($font-sizes, medium);
      font-weight: bold;
      cursor: pointer;

      &:hover {
        filter: $hover-effect;
      }
    }
  }
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
}
