@import "../../index";

@mixin title {
  text-align: center;
  font-weight: bolder;
  font-size: map-get($font-sizes, huge);
  color: map-get($colors, primary-gray);
  margin-bottom: 100px;
}

.articles-wrapper {
  width: 100%;
  margin: 100px auto;

  h2.title {
    @include title;
  }
  div.container {
    justify-items: center;
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    gap: 35px;
  }
}
@media (min-width: 768px) {
  .articles-wrapper {
    div.container {
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;

      width: 90%;
    }
  }
}
@media (min-width: 1192px) {
  .articles-wrapper {
    div.container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      width: 80%;
    }
  }
}
@media (min-width: 1441px) {
  .articles-wrapper {
    div.container {
      width: 70%;
    }
  }
}
